body {
    background-color: #FFF2F2;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid #0018ee;
}
.logo img {
    width: 80px;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul li {
    margin-right: 25px;
    padding: 12px 40px;
}
nav ul li :hover{
    color: #2D336B;
    font-size: larger;
    background-color: #032a93;
    border-radius: 25px;
    
}

nav ul li a {
    text-decoration: none;
    color: #2D336B;
    font-size: larger;
}
nav ul li a:hover {
    color: #7886C7;
    text-decoration-line: underline;
    text-underline-offset: 8px;
    text-decoration-color: #2340c1;
}

#hero img {
    width: 100%;
}

#about {
    background-image: url(/asset/Desain\ tanpa\ judul.png);
    background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  height: 75vh;
  padding: 40px; }

    #about h2 {
      margin-top: 50px;
      width: 50%;
      padding-left: 40px;
    }
    #about p {
      width: 50%;
      padding-left: 40px;
      line-height: 1.7em;
      background-color:  #f0f1f7; }

#about h2 {
  margin-top: 50px;
  width: 50%;
  padding-left: 40px;
}
#about p {
  width: 50%;
  padding-left: 40px;
  line-height: 1.7em;
}

#product {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    margin: 40px;
  }
  
  
  #product h2 {
    text-align: center;
    color: #002fff;
  }
  
  
  .card-product {
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  
  .price {
    color: rgb(0, 17, 255);
    font-size: 22px;
  }
  
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  
  .card button:hover {
    opacity: 0.7;
  }
  
  #contact {
    width: 100%;
    display: flex;
    padding: 30px;
    border: 1px solid #FFEB00;
  }
  .contact-text {
    align-items: center;
    padding-left: 70px;
    width: 50%;
  }
  .contact-text h4 {
    color: #344CB7;
  }
  .contact-text p {
    font-size: xx-large;
  }
  .contact-text button {
    padding: 8px 35px;
    background-color: #b5bfea;
    border: none;
  }
  .contact-text button:hover {
    background-color: #FFEB00;
    color: #344CB7;
    box-shadow: 3px 3px 20px #344CB7;
  }
  .contact-image {
    width: 50%;
  }
  .contact-image img {
    width: 60%;
  }
  
  footer {
    text-align: center;
    background-color: chocolate;
    color: #b5bfea;
    padding: 25px;
    font-weight: bold;
    border-radius: 0 60px 0 60px;
    
  }
  
  
  

  